*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(images/backgroun.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
}
nav img{
    width: 280px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #d9147d;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: (-30%,-8%);
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.hero-btn{
    display: inline-block;
    color: #ffffff;
    border: 1px solid #0adab9;
    padding: 6px 10px;
    font-size: 15px;
    background: transparent;
    position: relative;
    top: -28px;
    left: 85px;
    cursor: pointer;  
}
.hero-btn:hover{
    border: 1px solid #0adab9; 
    background: #0adab9;
    transition: 1s;
}
@media (max-width: 700px) {
    .text-box h1{
        font-size: 30px;   
}
.nav-links ul li{
    display: block;
}
.nav-links{
    position: absolute;
    background: #d9147d;
    height: fit-content;
    width: 100px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;

}